<div class="panel panel-default">
  <div class="panel-body">
    {{#each article}}
    <div class="media">
      <div class="media-left">
        <a href="{{articleURL}}"><img class="media-object" src="{{imageURL}}"></a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="{{articleURL}}">{{title}}</a></h4>
        {{summary}}
        <button class="saveButton btn btn-default btn-sm" data-id="{{_id}}">Save</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>
